.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
}

.navbar__list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 4px;
}

.navbar__list-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.navbar__notify--show:hover .navbar__notify,
.navbar__list-item--showqr:hover .navbar__qrcode {
  display: block;
}

.navbar__list-item,
.navbar__list-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.navbar__list-item:hover,
.navbar__list-item-link:hover,
.navbar-icon-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__list-item,
.navbar__list-item-link,
.navbar-icon-link,
.navbar__list {
  display: inline-flex;
  align-items: center;
}

.navbar__list-item--strong {
  font-weight: 400;
}

.navbar__list-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 16px;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
}

.navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.navbar__icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.navbar__list-item--cant-click {
  cursor: text;
  color: var(--white-color);
}

/* QR code */
.navbar__qrcode {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 128%;
  padding: 8px;
  border-radius: 2px;
  animation: fadeIn ease-in 0.3s;
  display: none;
  z-index: 1;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.navbar__qrcode::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 28px;
  left: 0;
  top: -16px;
  display: block;
}

.navbar__qrcode-img {
  width: 100%;
}

.navbar__app {
  display: flex;
  justify-content: space-between;
}

.navbar__app-img {
  height: 18px;
}

.navbar__app-img:first-child {
  margin-left: 12px;
}
.navbar__app-img:last-child {
  margin-right: 12px;
}

/* Notification */
.navbar__notify::before {
  content: "";
  border: solid;
  border-width: 20px 30px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0;
  top: -30px;
}
.navbar__notify::after {
  content: "";
  height: 20px;
  display: block;
  position: absolute;
  width: 100px;
  right: 0;
  top: -16px;
}

.navbar__notify {
  position: absolute;
  top: 128%;
  right: 0;
  width: 400px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  cursor: default;
  transform-origin: calc(100% - 28px) top;
  animation: notifyGrowth ease-in 0.25s;
  will-change: opacity, transform;
  display: none;
  z-index: 1;
}

@keyframes notifyGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.navbar__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.navbar__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
}

.navbar__notify-list {
  padding-left: 0;
}

.navbar__notify-item {
  display: flex;
}

.navbar__notify-item:hover {
  background-color: #f7f7f7;
}

.navbar__notify-item--viewed {
  background-color: rgb(238, 77, 45, 0.08);
}

.navbar__notify-link {
  display: flex;
  padding-left: 12px;
  text-decoration: none;
  width: 100%;
}

.navbar__notify-img {
  width: 48px;
  object-fit: contain;
}

.navbar__notify-info {
  flex: 1;
  margin-left: 12px;
}

.navbar__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
}

.navbar__notify-desc {
  display: block;
  font-size: 1.2rem;
  color: #666;
  margin-top: 4px;
}

.navbar__notify-footer {
  display: flex;
}
.navbar__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  padding: 12px 0;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
}

/* Auth form */
.auth-form {
  background-color: var(--white-color);
  border-radius: 2px;
  overflow: hidden;
}
.auth-form__form {
  width: 500px;
}
.auth-form__container {
  padding: 0 32px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}
.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}
.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  outline: none;
  box-sizing: border-box;
}
.auth-form__input:focus {
  border-color: #777;
}

.auth-form__aside {
  margin-top: 20px;
}
.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}
.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}
.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.auth-form__socials-icon {
  font-size: 1.8rem;
}
.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}
.auth-form__socials--facebook.auth-form__socials-icon {
  color: var(--white-color);
}
.auth-form__socials-label {
  margin: 0 28px;
}

.auth-form__socials--google {
  background-color: var(--white-color);
  color: #666;
}
.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}
.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}
.auth-form__help-sparate {
  display: block;
  height: 22px;
  border-left: 1px solid var(--border-color);
  margin: -1px 16px 0;
}
.auth-form__help--forgot {
  color: var(--primary-color);
}

/* Header search */
.header-search {
  height: var(--header-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.header-search__logo {
  width: 200px;
}
.header-search__logo-img {
  width: 150px;
}
.header-search__input {
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.header-search__cart {
  width: 150px;
  text-align: center;
  position: relative;
}
.header-search__cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
}
.header-search__cart:hover .header-search__cart-list {
  display: block;
}

.header-search__input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}
.header-search__input-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 4px;
  box-sizing: border-box;
}
.header-search__input-input:focus ~ .header-search__history {
  display: block;
}
.header-search__input-select {
  border-left: 1px solid #ccc;
  padding-left: 16px;
}
.header-search__input-label {
  font-size: 1.4rem;
  color: var(--text-color);
}
.header-search__input-icon {
  color: #a5a5a5;
  font-size: 1.4rem;
  margin: 0 16px 0 8px;
}
.header-search__input-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  border-radius: 3px;
  margin-right: 3px;
  width: 60px;
  outline: none;
}
.header-search__input-btn-icon {
  color: white;
  font-size: 1.4rem;
}
.header-search__input-btn:hover {
  background-color: #fb6445;
  cursor: pointer;
}
/* History search */
.header-search__history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 95%;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0 1px 5px #aaaaaa;
  display: none;
  overflow: hidden;
  z-index: 1;
}
.header-search__history-heading {
  margin: 12px 12px 0 12px;
  font-size: 1.4rem;
  color: #aaaaaa;
  font-weight: 400;
}
.header-search__history-list {
  padding-left: 0;
  list-style-type: none;
  margin: 6px 0 0;
}
.header-search__history-item {
  height: 38px;
  padding: 0 12px;
}
.header-search__history-item:hover {
  background-color: #fafafa;
}
.header-search__history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

/* Cart */
.header-search__cart-list {
  display: none;
  animation: fadeIn ease-in 0.3s;
  position: absolute;
  top: calc(100% + 10px);
  right: 40px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header-search__cart-list::after {
  content: "";
  position: absolute;
  right: 4px;
  top: -28px;
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}
.header-search__cart-img {
  width: 50%;
}
.header-search__cart-list--no-cart {
  padding: 24px 0;
}
.header-search__cart--no-cart-msg {
  display: block;
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
}

/* Container */
.container {
  background-color: #f5f5f5;
}
.category {
  background-color: var(--white-color);
  border-radius: 2px;
}
.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
}
.category__heading {
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0;
}
.category-list {
  padding: 0 0 8px 0;
  list-style: none;
  margin-left: 9px;
}
.category-item {
}
.category-item--active .category-item__link {
  color: var(--primary-color);
}
.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}
.category-item__link {
  text-decoration: none;
  color: var(--text-color);
  padding: 4px 16px;
  display: block;
  font-size: 1.5rem;
  transition: right linear 0.1s;
  right: 0;
  position: relative;
}
.category-item__link:hover {
  color: var(--primary-color);
  right: -4px;
}

.pt-36 {
  padding-top: 36px;
}

/* Home sort and filter */
.home-filter {
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.04);
}
.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}
.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}
.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.home-filter__page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}
.home-filter__page-current {
  color: var(--primary-color);
}
.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.home-filter__page-btn {
  flex: 1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;
}
.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}
.home-filter__page-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}
.home-filter__page-btn--disable {
  background-color: #f9f9f9;
  cursor: default;
}
.home-filter__page-btn--disable .home-filter__page-icon {
  color: #ccc;
}

/* Product item */
.mb-50 {
  margin-bottom: 50px;
}
.product-container {
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  top: 0;
}
.product-container:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}
.product-container__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.product-container__name {
  /* tinh tuy cua cua dau 3 cham */
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px 10px 6px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.product-container__price {
  display: flex;
  flex-wrap: wrap;
}
.product-container__price--old {
  font-size: 1.2rem;
  color: #666;
  text-decoration: line-through;
  margin-left: 10px;
}
.product-container__price--current {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-left: 10px;
}
.product-container__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}
.product-container__heart {
  font-size: 1.3rem;
}
.product-container__rating {
  font-size: 0.8rem;
  color: #d5d5d5;
  margin-left: auto;
}
.product-container__origin {
  display: flex;
  justify-content: space-between;
  margin: 3px 10px 0;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 300;
  font-size: 1.2rem;
  padding-bottom: 6px;
}
.product-container__brand {
}
.product-container__origin-name {
}
.product-container__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.product-container__favourite::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  border-top: 3px solid #ae2104;
  border-left: 3px solid transparent;
}
.product-container__favourite-icon {
  font-size: 0.9rem;
  margin-left: 4px;
}
.product-container__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.9);
  text-align: center;
}
.product-container__sale-off::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  border-width: 0 20px 6px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.9) transparent
    rgba(255, 216, 64, 0.9);
}
.product-container__sale-off-percent {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 4px;
  position: relative;
  top: 3px;
}
.product-container__sale-off-label {
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--white-color);
  position: relative;
  top: 2px;
}

i.product-container__heart-icon--fill {
  color: #f63d30;
  display: none;
}
.product-container__heart--liked .product-container__heart-icon--fill {
  display: inline-block;
}
.product-container__heart--liked .product-container__heart-icon--empty {
  display: none;
}

.product-container__star--gold {
  color: var(--star-gold-color);
}
.product-container__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 8px;
}

/* Footer */
.footer {
  background-color: var(--footer-background-color);
}
.footer__heading {
  padding-top: 28px;
  color: var(--footer-heading-color);
  font-weight: 500;
  font-size: 1.3rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  font-size: 1.3rem;
}
.footer__item {
  margin-bottom: 8px;
}
.footer__link {
  color: var(--footer-text-color);
  text-decoration: none;
}
.footer__link:hover {
  color: var(--primary-color);
}
.payment {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.payment__img {
  background-color: var(--white-color);
  padding: 4px;
  margin: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  border-radius: 2px;
}
.footer__icon {
  font-size: 1.4rem;
  margin-right: 8px;
}
.footer__download {
  display: flex;
}
.footer__download-item {
  flex: 1;
  margin-top: 16px;
}
.footer__download-img {
  padding: 4px;
  background-color: white;
  width: 80%;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  border-radius: 2px;
}
.footer__copyright {
  padding: 28px;
  margin: 28px auto;
  border-top: 1px solid #e4e4e4;
  color: var(--footer-text-color);
  font-size: 1.4rem;
  text-align: center;
}
